body{
    margin: 0;
    background-image: url("background.png");
    background-color: #cccccc;
}
h1{
    margin: 0;
    padding-left: 10px;
    vertical-align: middle;
}
div.title{
    background-color: MediumTurquoise;
    padding: 20px 0 20px 0;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: LightGrey;
}
div.navigation{
    background-color: mediumaquamarine;
    padding: 10px 0 10px 10px;
}
div.content{
    padding-left: 10px;
}
h2{
    padding-left: 10px;
}
