body{
    margin: 0;
    background-color: AliceBlue; 
    text-align: justify;
    text-justify: inter-word;
    font-family: "Monaco", monospace;
}
div.title{
    background-color: MediumTurquoise;
    padding: 20px 0 20px 0;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: MediumTurquoise;
}
div.navigation{
    background-color: mediumaquamarine;
    padding: 10px 0 10px 10px;
}
div.content{
    width: 70%;
    margin-left: 15%;
}
h1{
    text-align:center;
}
h2{
    text-align: center;
}
h3{
  text-align: center;
}
h4{
  text-align: center;    
}
h5{
  text-align: center;    
}
table{
  text-align: center;
  width: 100%;
  background-color: MediumTurquoise;
}
div.big-one{
    text-align:center;
}
div.one > img {
  margin: 0;
}
div.one{
  display: inline-block;
  width: 100%;
  text-align: center;
}
div.two > img {
  margin: 0;
}
div.two{
  display: inline-block;
  width: 49.8%;
  text-align: center;
}
div.three > img {
  margin: 0;
}
div.three{
  display: inline-block;
  width: 33%;
  text-align: center;
}
p{
    margin-bottom: 10px;
}
